.vk-dropzone-wrapper {
  width: 100%;
}

.vk-dropzone {
  border: 2px dashed #d1d5db;
  border-radius: 12px;
  min-height: 180px;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 2rem 1rem;
  transition:
    background-color 0.15s ease,
    border-color 0.15s ease,
    transform 0.1s ease;
}

.vk-dropzone:hover {
  background-color: #f3f4f6;
  border-color: #4a8c68;
}

:host ::ng-deep .p-fileupload-advanced {
  border: none !important;
}

:host {
  --p-fileupload-content-padding: 0;
  --p-fileupload-header-padding: 0;
}

:host ::ng-deep p-fileupload:has(input[type='file'][disabled]) .vk-dropzone {
  cursor: not-allowed !important;
  opacity: 0.6;
  border-color: #e5e7eb !important;
  background-color: #f3f4f6 !important;
  // pointer-events: none !important;
  &:hover {
    cursor: not-allowed;
  }
}
