<div class="space-y-3">
	<h3 class="text-lg font-semibold flex items-center gap-2 text-maingoo-deep">
		<app-icon name="info" size="md" class="text-maingoo-sage"></app-icon>
		Detalles del producto
	</h3>
	<div class="bg-gray-50 p-4 rounded-xl border border-gray-100 space-y-2 text-sm text-gray-700">
		<p><strong class="text-maingoo-deep">Descripción:</strong> {{ product?.description || 'Sin descripción' }}</p>
		<p><strong class="text-maingoo-deep">Añadido el:</strong> {{ product?.createdAt | date: 'dd/MM/yyyy HH:mm' }}
		</p>
		<p><strong class="text-maingoo-deep">Actualizado el:</strong> {{ product?.updatedAt | date: 'dd/MM/yyyy HH:mm'
			}}</p>
	</div>
</div>