/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';

/* Prevent body scroll globally */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media print {
  body:has(app-receipt-view .receipt) {
    overflow: visible;
  }

  body:has(app-receipt-view .receipt) * {
    visibility: hidden;
  }

  body:has(app-receipt-view .receipt) app-receipt-view,
  body:has(app-receipt-view .receipt) app-receipt-view * {
    visibility: visible;
  }

  body:has(app-receipt-view .receipt) app-receipt-view {
    position: fixed;
    inset: 0 auto auto 0;
    width: 80mm;
  }
}
